.infos-bar {
    padding: 16px 24px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-infos {
        display: flex;
        gap: 40px;

        &-item {
            font-size: 14px;
            color: #000;

            b {
                color: #000;
                font-size: 18px;
                display: block;
            }
        }
    }

    @media (max-width: 640px) {
        display: block;

        &-infos {
            display: block;

            &-item {
                margin-bottom: 24px;
            }
        }
    }
}